{% extends "base.html" %}
{% block title %}Your Chat List{% endblock %}

{% block content %}
      
<h1>Your Chat List</h1> <br>

{% for message in messages %}

{% if message.sender_id == user.id %}

{% for person in users_list %}

{% if message.receiver_id == person.id %}

<div class="card" style="max-width: 82rem;">
   <div class="card-body">
     <h5 class="card-title">{{person.first_name}} {{person.last_name}} </h5>
     <p class="card-text">
        Username: {{person.username}} <br>
        Email: {{person.email}}
     </p>
     <p>You: {{message.message}}</p>
     <a href="/chat/{{person.id}}" class="btn btn-primary">Chat with {{person.first_name}} {{person.last_name}} </a>
   </div>
 </div> <br>

{% endif %}

{% endfor %}

{% elif message.receiver_id == user.id %}

{% for person in users_list %}

{% if message.sender_id == person.id %}

<div class="card" style="max-width: 82rem;">
   <div class="card-body">
     <h5 class="card-title">{{person.first_name}} {{person.last_name}} </h5>
     <p class="card-text">
        Username: {{person.username}} <br>
        Email: {{person.email}}
     </p>
     <p>{{person.first_name}}: {{message.message}}</p>
     <a href="/chat/{{person.id}}" class="btn btn-primary">Chat with {{person.first_name}} {{person.last_name}} </a>
   </div>
 </div> <br>

{% endif %}

{% endfor %}

{% endif %}

{% endfor %}


<!-- {% for person in users_list %}

{% for message in messages %}

{% if message.sender_id == user.id %}

{% if person.id == message.receiver_id %}

<div class="card" style="max-width: 82rem;">
   <div class="card-body">
     <h5 class="card-title">{{person.first_name}} {{person.last_name}} </h5>
     <p class="card-text">
        Username: {{person.username}} <br>
        Email: {{person.email}}
     </p>
     <a href="/chat/{{person.id}}" class="btn btn-primary">Chat with {{person.first_name}} {{person.last_name}} </a>
   </div>
 </div> <br>

{% endif %}

{% elif message.receiver_id == user.id %}

{% if person.id == message.sender_id %}

<div class="card" style="max-width: 82rem;">
   <div class="card-body">
     <h5 class="card-title">{{person.first_name}} {{person.last_name}} </h5>
     <p class="card-text">
        Username: {{person.username}} <br>
        Email: {{person.email}}
     </p>
     <a href="/chat/{{person.id}}" class="btn btn-primary">Chat with {{person.first_name}} {{person.last_name}} </a>
   </div>
 </div> <br>

{% endif %}

{% endif %}

{% endfor %}

{% endfor %} -->


{% endblock %}